<nav class="navbar bg-dark navbar-dark">
    <div class="container-fluid">
        <span class="navbar-brand">
            <i class="bi bi-chat-dots-fill"></i>
            &nbsp;Foro dudas ITSCH
        </span>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="card mt-3 text-center">
                <div class="card-header">Inicio de Sesi&oacute;n <!--{{email}}--></div>

                <div class="card-body">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-envelope-at-fill"></i>
                        </span>
                        <input type="email" class="form-control" placeholder="Correo" [(ngModel)]="email">
                    </div>
                    <div class="input-group mt-3">
                        <span class="input-group-text">
                            <i class="bi bi-key-fill"></i>
                        </span>
                        <input type="password" class="form-control" placeholder="Contraseña" [(ngModel)]="pass">
                    </div>&nbsp;
                    
                        <div class="alert alert-danger" role="alert" *ngIf="showError">
                            <i class="bi bi-exclamation-triangle text-end"> Correo o contrase&ntilde;a incorrectos. </i>
                        </div>
                </div>
        
                <div class="card-footer text-end">
                    <button class="btn btn-primary" (click)="login()" [disabled]="showLoading">
                        <div class="spinner-border spinner-border-sm" *ngIf="showLoading">
                            
                          </div>
                        Entrar
                    </button>
                </div>
            </div>
            &nbsp;
            <p class="card-footer text-center"><a href="signup" class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Registrate aqui!!</a></p>
        </div>
        <div class="col"></div>
    </div>
</div>
