<div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col">
                <div class="card mt-3 mb-3">
                    <div class="card-header">Agregar pregunta</div>
                    <div class="card-body">
                        <select name="" id="" class="form-select" [(ngModel)]="newP.categoria">
                            <option value="General">General</option>
                            <option value="Programación">Programación</option>
                            <option value="Redes">Redes</option>
                        </select>
                        <input type="text" class="form-control mt-1" [(ngModel)]="newP.pregunta">
                        <button class="btn-outline-primary float-end mt-3" (click)="crearPregunta()">
                            <i class="bi bi-cloud-upload-fill"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th>&nbsp;&nbsp;&nbsp;No</th>
                            <th>&nbsp;&nbsp;&nbsp;Pregunta</th>
                            <th>&nbsp;&nbsp;&nbsp;Usuario</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of preguntas">
                            <td>&nbsp;&nbsp;&nbsp;{{p.no}}</td>
                            <td>&nbsp;&nbsp;&nbsp;{{p.pregunta}}
                                <span class="badge text-bg-secondary rounded-pill">
                                    {{p.fecha}}
                                </span>
                            </td>
                            <td>&nbsp;&nbsp;&nbsp;{{p.correo}}</td>
                            <td class="text-end">
                                <button class="btn btn-outline-secondary"><i class="bi bi-arrow-right-circle-fill"></i></button> &nbsp;&nbsp;
                                <button class="btn btn-outline-success"  (click)="editarPregunta(p)" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-pencil-fill"></i></button> &nbsp;&nbsp;
                                <button class="btn btn-outline-danger" (click)="eliminarPregunta(p.id)"><i class="bi bi-trash-fill"></i></button> &nbsp;&nbsp;
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
</div> 

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modificar Pregunta</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <input type="text" class="form-control mt-1" [(ngModel)]="mod.pregunta">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="modificarPregunta()">Guardar</button>
        </div>
      </div>
    </div>
  </div>
